<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width">
        
        <!-- fuentes externas -->
        <link href="/css/styles.css", rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
        
        <script src="https://kit.fontawesome.com/02e6c8fc0f.js" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-wid th, initial-scale=1">
        <title>Proyecto Mercado Liebre</title>
    </head>
    <body>
        <header>
            <!-- Logo -->
            <div class="main-header-top-bar">
                <div class="logo_div">
                    <img 
                    src="/images/logo-mercado-liebre.svg"
                    alt="Logo Mercado Liebre"
                    class="logo_principal"
                    />
                </div>
                <!-- Barra de busqueda -->
                <div class="barra_de_busqueda">
                    <i class="fab fa-searchengin"></i>
                    <input type='text'placeholder='Busca un producto' class="busqueda" />
                </div>

                    <!-- Copy Header -->
                <div class="copy_header">
                    <a><i class="fas fa-hand-holding-usd"></i>
                        Comprá en cuotas y sin tarjeta de crédito
                    </a>
                </div>
            </div>
                <!-- Menú principal-->       
                <nav class="menu">
                    <ul class="left-nav-bar">
                        <li><a href="#">Ofertas</a></li>
                        <li><a href="#">Tiendas Oficiales</a></li>
                        <li><a href="#">Vender</a></li>
                        <li><a href="#">Ayuda</a></li>
                    </ul>
                    <ul class="right-nav-bar">
                        <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                        <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                        <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                    </ul>
                </nav>

            <div class="div_burger_menu">
                <!-- menu hamburguesa -->
                <section class="burger_menu">
                    <i class="fas fa-bars" ></i>
                </section>
            </div>
        </header>

        <main>
            <!-- Banner Principal -->
            <section class="banner_principal_div">
                <img 
                src="/images/img-home-banner.jpg" 
                alt="Banner Principal"
                class="banner_principal">
                </section>

            <!-- Vitrina de producto Ultima visita -->
            <section>
                <h1>Ultima visita</h1>
                <div class="contenedor_ultima_visita">
                    <article class="product">    
                        <img src="/images/img-cafetera-moulinex.jpg" alt="Foto producto" class="imagen_producto">
                        <div class="caja_descripciones">
                            <i class="fas fa-cart-arrow-down"></i>
                            <p class="precios">$6.770</p>
                            <p class="descuentos">40%OFF</p>
                            <h2 class="descripciones">Moulinex</h2>
                        </div>
                    </article>
            
                    <article class="product">    
                        <img src="/images/img-macbook-pro-2019.jpg" alt="Foto producto"class="imagen_producto">
                        <div class="caja_descripciones">
                            <i class="fas fa-cart-arrow-down"></i>
                            <p class="precios">$230.000</p>
                            <p class="descuentos">20%OFF</p>
                            <h2 class="descripciones">McBook Pro 2019</h2>
                        </div>
                    </article>

                    <article class="product">    
                        <img src="/images/img-samsung-galaxy-s10.jpg" alt="Foto producto" class="imagen_producto">
                        <div class="caja_descripciones">
                            <i class="fas fa-cart-arrow-down"></i>
                            <p class="precios">$70.500</p>
                            <p class="descuentos">10%OFF</p>
                            <h2 class="descripciones">Galaxy S10</h2>
                        </div>
                    </article>

                    <article class="product">    
                        <img src="/images/img-samsung-galaxy-s10.jpg" alt="Foto producto" class="imagen_producto">
                        <div class="caja_descripciones">
                            <i class="fas fa-cart-arrow-down"></i>
                            <p class="precios">$70.500</p>
                            <p class="descuentos">10%OFF</p>
                            <h2 class="descripciones">Galaxy S10</h2>
                        </div>
                    </article>

                    <article class="product">    
                        <img src="/images/img-tv-samsung-smart.jpg" alt="Foto producto" class="imagen_producto">
                        <div class="caja_descripciones">
                            <i class="fas fa-cart-arrow-down"></i>
                            <p class="precios">$23.200</p>
                            <p class="descuentos">5%OFF</p>
                            <h2 class="descripciones">SmartTv Samsung 43¨</h2>
                        </div>
                    </article>
                </div>
            </section>
            <!-- Vitrina de producto Ofertas -->
            <section>
                <h1>Ofertas</h1>
                <div class="contenedor_ofertas">
                    <article class="product">
                        <img src="/images/img-cafetera-moulinex.jpg" alt="Foto producto" class="imagen_producto">
                        <div class="caja_descripciones">
                            <i class="fas fa-cart-arrow-down"></i>
                            <p class="precios">$6.770</p>
                            <p class="descuentos">40%OFF</p>
                            <h2 class="descripciones">Moulinex</h2>
                        </div>
                    </article class="product">
                    <article class="product">
                        <img src="/images/img-macbook-pro-2019.jpg" alt="Foto producto" class="imagen_producto">
                        <div class="caja_descripciones">
                            <i class="fas fa-cart-arrow-down"></i>
                            <p class="precios">$230.000</p>
                            <p class="descuentos">20%OFF</p>
                            <h2 class="descripciones">MacBook Pro 2019</h2>
                        </div>
                    </article class="product">
                    <article class="product">
                        <img src="/images/img-samsung-galaxy-s10.jpg" alt="Foto producto" class="imagen_producto">
                        <div class="caja_descripciones">    
                            <i class="fas fa-cart-arrow-down"></i>
                            <p class="precios">$70.500</p>
                            <p class="descuentos">10%OFF</p>
                            <h2 class="descripciones">Galaxy S10</h2>
                        </div>
                    </article>
                    <article class="product">
                        <img src="/images/img-tv-samsung-smart.jpg" alt="Foto producto" class="imagen_producto">
                        <div class="caja_descripciones">
                            <i class="fas fa-cart-arrow-down"></i>
                            <p class="precios">$23.200</p>
                            <p class="descuentos">%10OFF</p>
                            <h2 class="descripciones">Samsung 43¨</h2>
                        </div>
                    </article>
                </div>
            </section>
        </main>
        <footer>
         <!-- Footer -->
        <div class="text_footer_div">
            <section class="text__footer_sect">
                <div class="text footer">
                    <div class="icon_footer"><i class="far fa-credit-card" ></i></div>
                    <h1>Pagá con tarjeta o efectivo</h1>
                    <p class="descripciones_footer"> Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
                </div>
                <div class="text footer">
                    <div class="icon_footer"><i class="fas fa-gift"></i></div>
                    <h1>Envío gratis desde $ 2.500</h1>
                    <p class="descripciones_footer"> Por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
                </div>

                <div class="text footer">
                    <div class="icon_footer"><i class="fas fa-user-shield"></i></div>
                    <h1>Seguridad, de principio a fin</h1>
                    <p class="descripciones_footer">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
                </div>
            </section>
        </div>    
            <section class="footer__copyright">
                Copyright © 1999-2020 MercadoLiebre S.R.L.
            </section>
        </footer>
    </body>
</html>