<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width">
        
        <!-- fuentes externas -->
        <link href="/css/styles.css", rel="stylesheet">
        <link href="/css/register.css", rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
        
        <script src="https://kit.fontawesome.com/02e6c8fc0f.js" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-wid th, initial-scale=1">
        <title>Proyecto Mercado Liebre</title>
    </head>
    <body>
        <header>
            <!-- Logo -->
            <div class="main-header-top-bar">
                <div class="logo_div">
                    <img 
                    src="/images/logo-mercado-liebre.svg"
                    alt="Logo Mercado Liebre"
                    class="logo_principal"
                    />
                </div>
                <!-- Barra de busqueda -->
                <div class="barra_de_busqueda">
                    <i class="fab fa-searchengin"></i>
                    <input type='text'placeholder='Busca un producto' class="busqueda" />
                </div>

                    <!-- Copy Header -->
                <div class="copy_header">
                    <a><i class="fas fa-hand-holding-usd"></i>
                        Comprá en cuotas y sin tarjeta de crédito
                    </a>
                </div>
            </div>
                <!-- Menú principal-->       
                <nav class="menu">
                    <ul class="left-nav-bar">
                        <li><a href="#">Ofertas</a></li>
                        <li><a href="#">Tiendas Oficiales</a></li>
                        <li><a href="#">Vender</a></li>
                        <li><a href="#">Ayuda</a></li>
                    </ul>
                    <ul class="right-nav-bar">
                        <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                        <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                        <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                    </ul>
                </nav>

            <div class="div_burger_menu">
                <!-- menu hamburguesa -->
                <section class="burger_menu">
                    <i class="fas fa-bars" ></i>
                </section>
            </div>
        </header>
        <main>
            <h1>¡Bienvenido al registro de Usuario! </h1>
            <form class="formulario_form">
                <input placeholder="Nombre completo" type="text"/>
                <input placeholder="Nombre de usuario(a)" type="text" />
                <label class="perfil_usuario_label">Fecha de nacimiento</label>
                <input type="date"/>
                <input placeholder="Email" type="email" />
                <label class="perfil_usuario_label">Perfil de Usuario</label>
                <div>
                    <label>Comprador</label>
                    <input type="checkbox"/>
                    <label>Vendedor</label>
                    <input type="checkbox"/>
                </div>

                <label class="perfil_usuario_label">Categorías de interés</label>
                <div>
                    <label>Electro</label>
                    <input type="checkbox" multiple/>
                    <label>Moda</label>
                    <input type="checkbox" multiple/>
                    <label>Hogar</label>
                    <input type="checkbox" multiple/>
                    <label>Juguetería</label>
                    <input type="checkbox" multiple/>
                    <label>Vida sana</label>
                    <input type="checkbox" multiple/>
                </div>
                <label class="perfil_usuario_label">Seleccione una imagen para su perfil</label>
                <input type="file" name="avatar" accept=".jpg">
                <input placeholder="Inserte Contraseña" type="password"/>
                <input placeholder="Confirmar Contraseña" type="password"/>

                <button type="submit">Enviar</button>
                <button type="reset">Borrar</button>
            </form>
        </main>
        <!-- Footer -->
        <footer> 
            <section class="footer__copyright">
                Copyright © 1999-2020 MercadoLiebre S.R.L.
                JUAN FELIPE PRADA SUÁREZ
            </section>
        </footer>
    </body>
</html>